Repository cliffxuan/fantasy-premier-league: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, flutter-analyze

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix]
        types_or: [python]
      - id: ruff-format
        types_or: [python]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/src/.*\.(js|jsx|css)$
        additional_dependencies:
          - prettier@3

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright backend tests
        language: system
        types: [python]
        pass_filenames: false
      - id: flutter-analyze
        name: flutter analyze
        entry: bash -c 'cd mobile && dart analyze --fatal-infos lib/'
        language: system
        files: ^mobile/lib/.*\.dart$
        pass_filenames: false

Refactor pre-commit setup and remove unused dependencies
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: none

fix: Resolve ESLint errors and mobile CI dart analyze failure
  .github/workflows/ci.yml
  frontend/src/App.jsx
  frontend/src/components/AuthModal.jsx
  frontend/src/components/ClubViewer.jsx
  frontend/src/components/ComparisonChart.jsx
  frontend/src/components/FixtureTicker.jsx
  frontend/src/components/LeagueTable.jsx
  frontend/src/components/MarketOverview.jsx
  frontend/src/components/PlayerExplorer.jsx
  frontend/src/components/TopManagersAnalysis.jsx
  frontend/src/hooks/useCurrentGameweek.test.js
  frontend/src/hooks/usePopover.js
Due: none

Refactor HTTP client usage and optimize frontend performance
  backend/fpl_service.py
  backend/history_service.py
  backend/ml_service.py
  frontend/src/App.jsx
  frontend/src/components/ClubViewer.jsx
  frontend/src/components/ComparisonChart.jsx
  frontend/src/components/DreamTeam.jsx
  frontend/src/components/FixtureTicker.jsx
  frontend/src/components/LeagueTable.jsx
  frontend/src/components/LiveFixtures.jsx
  frontend/src/components/MarketOverview.jsx
  frontend/src/components/PitchView.jsx
  frontend/src/components/PlayerExplorer.jsx
  frontend/src/components/PlayerPopover.jsx
  frontend/src/components/PolymarketWidget.jsx
  frontend/src/components/Solver.jsx
  frontend/src/components/SquadDisplay.jsx
  frontend/src/components/TeamPopover.jsx
  frontend/src/components/TopManagersAnalysis.jsx
  pyproject.toml
  uv.lock
Due: pyright

feat: Integrate TanStack Query for data fetching
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/api.js
  frontend/src/components/AuthModal.jsx
  frontend/src/components/ClubViewer.jsx
  frontend/src/components/DreamTeam.jsx
  frontend/src/components/FixtureTicker.jsx
  frontend/src/components/FormAnalysis.jsx
  frontend/src/components/LeagueTable.jsx
  frontend/src/components/LiveFixtures.jsx
  frontend/src/components/MarketOverview.jsx
  frontend/src/components/PlayerExplorer.jsx
  frontend/src/components/PlayerPopover.jsx
  frontend/src/components/PolymarketWidget.jsx
  frontend/src/components/Solver.jsx
  frontend/src/components/TeamPopover.jsx
  frontend/src/components/TopManagersAnalysis.jsx
  frontend/src/hooks/queries.js
  frontend/src/hooks/queryKeys.js
  frontend/src/hooks/useCurrentGameweek.js
  frontend/src/hooks/useDebouncedValue.js
  frontend/src/main.jsx
Due: none

Update react-router and react-router-dom to version 7.13.0
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: Enhance player details with code and team short name
  backend/form_service.py
  backend/fpl_service.py
  frontend/src/components/FormAnalysis.jsx
  mobile/lib/core/widgets/player_quick_sheet.dart
  mobile/lib/data/models/club_summary.dart
  mobile/lib/data/models/club_summary.g.dart
  mobile/lib/data/models/form_player.dart
  mobile/lib/data/models/form_player.g.dart
  mobile/lib/features/analytics/providers/solver_providers.g.dart
  mobile/lib/features/analytics/screens/top_managers_screen.dart
  mobile/lib/features/analytics/widgets/form_player_card.dart
  mobile/lib/features/analytics/widgets/solver_result_table.dart
  mobile/lib/features/explore/screens/club_viewer_screen.dart
  mobile/lib/features/explore/screens/player_comparison_screen.dart
Due: pyright, flutter-analyze

Add player photo to FormService response
  backend/form_service.py
Due: pyright

Enhance form analysis data enrichment
  frontend/src/api.js
  frontend/src/components/FormAnalysis.jsx
  mobile/lib/data/datasources/fpl_remote_datasource.dart
Due: flutter-analyze

feat: add eslint pre-commit hook and refactor useEffect to use state comparison
  .pre-commit-config.yaml
  frontend/src/App.jsx
  frontend/src/components/LeagueTable.jsx
  frontend/src/components/MarketOverview.jsx
  frontend/src/components/PlayerPopover.jsx
  frontend/src/components/Solver.jsx
  frontend/src/components/TeamPopover.jsx
  frontend/src/hooks/useCurrentGameweek.test.jsx
Due: none

Remove predicted end gameweek display from FormAnalysis component
  frontend/src/components/FormAnalysis.jsx
Due: none

Add finish checklist for code quality assurance before task completion
  .agent/workflows/finish_checklist.md
Due: none

Add Python guidelines for using local virtual environment
  .agent/workflows/python_guidelines.md
Due: none

integration tests
  .agent/workflows/finish_checklist.md
  .gitignore
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.js
  frontend/tests/example.spec.js
  mobile/integration_test/app_test.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

fix: update app import and main entry point in integration test
  mobile/integration_test/app_test.dart
Due: none

Add exclusion for node_modules, dist, and tests in Vite config
  frontend/vite.config.js
Due: none

feat: Add GameweekSwipeDetector for swipe navigation between gameweeks
  mobile/lib/core/widgets/gameweek_swipe_detector.dart
  mobile/lib/features/analytics/screens/dream_team_screen.dart
  mobile/lib/features/home/screens/home_screen.dart
  mobile/lib/features/matches/screens/matches_screen.dart
Due: flutter-analyze

Refactor Dream Team and Home Screens to use PageView for gameweek navigation
  mobile/lib/features/analytics/screens/dream_team_screen.dart
  mobile/lib/features/home/providers/squad_providers.dart
  mobile/lib/features/home/providers/squad_providers.g.dart
  mobile/lib/features/home/screens/home_screen.dart
  mobile/lib/features/matches/screens/matches_screen.dart
Due: flutter-analyze
